In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv(r"C:\Users\aniru\OneDrive\Documents\SRC\SRC 5\Terminal_Workforce_Callout_Reporting.csv", encoding = 'latin1')

In [3]:
df_name = pd.read_csv(r"C:\Users\aniru\OneDrive\Documents\SRC\SRC 5\Indian_Names.csv")
df_name.head()

   Unnamed: 0    Name
0           0   aabid
1           1  aabida
2           2  aachal
3           3  aadesh
4           4   aadil

In [4]:
df_raw.head()

,EmplID - Employee Name,Employee - EmplID - Job Title,Terminal,Workforce Callout Number,Call out Reasons,Related Employee,Shift,Date Created
0,Larry Perkins,Bus Attendant,New York Ave,+1 (202) 714-2350,Unscheduled Sick Leave,31036,AM and PM,03-17-2024 10:46 PM
1,"Poston, Britannia",Motor Vehicle Operator,New York Ave,+1 (240) 640-9687,Unscheduled Sick Leave,41820,AM and PM,03-17-2024 08:28 PM
2,"Dicks, Elois F",BUS ATTENDANT,New York Ave,+1 (202) 446-8697,Paid Family Leave,68058,AM and PM,03-17-2024 04:51 PM
3,"Dupree, Christy",BUS ATTENDANT,New York Ave,+1 (202) 427-1159,Unscheduled Sick Leave,41452,PM,03-15-2024 02:35 PM
4,Bianca Brooks,MOTOR VEHICLE OPERATOR,New York Ave,+1 (202) 227-8884,Unscheduled Sick Leave,127345,PM,03-15-2024 12:00 PM

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6288 entries, 0 to 6287
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   EmplID - Employee Name         6288 non-null   object
 1   Employee - EmplID - Job Title  6288 non-null   object
 2   Terminal                       6288 non-null   object
 3   Workforce Callout Number       6283 non-null   object
 4   Call out Reasons               6288 non-null   object
 5   Related Employee               6288 non-null   int64
 6   Shift                          6288 non-null   object
 7   Date Created                   6288 non-null   object
dtypes: int64(1), object(7)
memory usage: 393.1+ KB

In [6]:
df_raw['EmplID - Employee Name'].nunique()

119

In [7]:
df1 = df_raw['EmplID - Employee Name'].unique().tolist()
df2 = df_name['Name'].unique().tolist()[:119]
name_map = {df1[i]:df2[i] for i in range(len(df1))}

In [8]:
df_raw['EmplID - Employee Name'] = df_raw['EmplID - Employee Name'].map(name_map)

In [9]:
original = df_raw['Workforce Callout Number'].unique().tolist()

In [10]:
import random

def random_phn(length):
    random_numbers = []
    for x in range(length*2):
        area_code = str(random.randint(100, 999))
        prefix = str(random.randint(100, 999))
        line_number = str(random.randint(1000, 9999))
        random_numbers.append(f"+({area_code}) {prefix}-{line_number}")
    return set(random_numbers)

In [11]:
replacement = random_phn(208)
replacement_list = list(replacement)
new_replacement = replacement_list[:208]

In [12]:
contact_map = {original[i]:new_replacement[i] for i in range(len(original))}

In [13]:
df_raw['Workforce Callout Number'] = df_raw['Workforce Callout Number'].map(contact_map)

In [14]:
df_raw

,EmplID - Employee Name,Employee - EmplID - Job Title,Terminal,Workforce Callout Number,Call out Reasons,Related Employee,Shift,Date Created
0,aabid,Bus Attendant,New York Ave,+(958) 694-3005,Unscheduled Sick Leave,31036,AM and PM,03-17-2024 10:46 PM
1,aabida,Motor Vehicle Operator,New York Ave,+(123) 958-8307,Unscheduled Sick Leave,41820,AM and PM,03-17-2024 08:28 PM
2,aachal,BUS ATTENDANT,New York Ave,+(289) 888-1482,Paid Family Leave,68058,AM and PM,03-17-2024 04:51 PM
3,aadesh,BUS ATTENDANT,New York Ave,+(953) 638-6905,Unscheduled Sick Leave,41452,PM,03-15-2024 02:35 PM
4,aadil,MOTOR VEHICLE OPERATOR,New York Ave,+(676) 207-3884,Unscheduled Sick Leave,127345,PM,03-15-2024 12:00 PM
...,...,...,...,...,...,...,...,...
6283,aatam,BUS ATTENDANT,New York Ave,+(893) 993-5863,Paid Family Leave,113159,AM and PM,09-19-2022 07:36 PM
6284,abhash,Bus Attendant,New York Ave,+(433) 996-1181,Annual Leave - Unscheduled,101589,PM,09-19-2022 01:46 PM
6285,abhash,Bus Attendant,New York Ave,+(433) 996-1181,Late to Work,101589,PM,09-19-2022 01:41 PM
6286,aamil,Bus Attendant,New York Ave,+(993) 256-6231,Paid Family Leave,111881,AM and PM,09-19-2022 04:02 AM
6287,aanya,MOTOR VEHICLE OPERATOR,New York Ave,+(743) 981-1618,Annual Leave - Unscheduled,41484,AM and PM,09-18-2022 07:30 PM

In [15]:
df_raw.to_csv('doctored_data.csv', index=False)